/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Alternate-Row-Color;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 10;
	border-spacing-y: 21;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	background-color: #00bfff;
	color: #ffffff;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	background-color: #dcdcdc;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 10;
	name: Body2;
	background-color: #c0c0c0;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-Alternate-Row-Color
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 21px;
}

.TableStyle-Alternate-Row-Color-Head-Header1
{
	
}

.TableStyle-Alternate-Row-Color-HeadI--Header1
{
	color: #ffffff;
	background-color: #00bfff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-HeadI--Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternate-Row-Color-HeadE--Header1
{
	color: #ffffff;
	background-color: #00bfff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Alternate-Row-Color-HeadE--Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternate-Row-Color-HeadF--Header1
{
	color: #ffffff;
	background-color: #00bfff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Alternate-Row-Color-HeadF--Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternate-Row-Color-HeadH--Header1
{
	color: #ffffff;
	background-color: #00bfff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-HeadH--Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternate-Row-Color-HeadD--Header1
{
	color: #ffffff;
	background-color: #00bfff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Alternate-Row-Color-HeadD--Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternate-Row-Color-HeadC--Header1
{
	color: #ffffff;
	background-color: #00bfff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-HeadC--Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternate-Row-Color-HeadB--Header1
{
	color: #ffffff;
	background-color: #00bfff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-HeadB--Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternate-Row-Color-HeadA--Header1
{
	color: #ffffff;
	background-color: #00bfff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-HeadA--Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternate-Row-Color-HeadG--Header1
{
	color: #ffffff;
	background-color: #00bfff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-HeadG--Header1 p
{
	color: #ffffff;
}

.TableStyle-Alternate-Row-Color-Foot-Footer1
{
	
}

.TableStyle-Alternate-Row-Color-FootI--Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-FootI--Footer1 p
{
	
}

.TableStyle-Alternate-Row-Color-FootE--Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Alternate-Row-Color-FootE--Footer1 p
{
	
}

.TableStyle-Alternate-Row-Color-FootF--Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Alternate-Row-Color-FootF--Footer1 p
{
	
}

.TableStyle-Alternate-Row-Color-FootH--Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-FootH--Footer1 p
{
	
}

.TableStyle-Alternate-Row-Color-FootD--Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Alternate-Row-Color-FootD--Footer1 p
{
	
}

.TableStyle-Alternate-Row-Color-FootC--Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-FootC--Footer1 p
{
	
}

.TableStyle-Alternate-Row-Color-FootB--Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-FootB--Footer1 p
{
	
}

.TableStyle-Alternate-Row-Color-FootA--Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-FootA--Footer1 p
{
	
}

.TableStyle-Alternate-Row-Color-FootG--Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-FootG--Footer1 p
{
	
}

.TableStyle-Alternate-Row-Color-Body-Body1
{
	
}

.TableStyle-Alternate-Row-Color-BodyI--Body1
{
	vertical-align: top;
	background-color: #dcdcdc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-BodyI--Body1 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyE--Body1
{
	vertical-align: top;
	background-color: #dcdcdc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Alternate-Row-Color-BodyE--Body1 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyF--Body1
{
	vertical-align: top;
	background-color: #dcdcdc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Alternate-Row-Color-BodyF--Body1 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyH--Body1
{
	vertical-align: top;
	background-color: #dcdcdc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-BodyH--Body1 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyD--Body1
{
	vertical-align: top;
	background-color: #dcdcdc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Alternate-Row-Color-BodyD--Body1 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyC--Body1
{
	vertical-align: top;
	background-color: #dcdcdc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-BodyC--Body1 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyB--Body1
{
	vertical-align: top;
	background-color: #dcdcdc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-BodyB--Body1 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyA--Body1
{
	vertical-align: top;
	background-color: #dcdcdc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-BodyA--Body1 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyG--Body1
{
	vertical-align: top;
	background-color: #dcdcdc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Alternate-Row-Color-BodyG--Body1 p
{
	
}

.TableStyle-Alternate-Row-Color-Body-Body2
{
	
}

.TableStyle-Alternate-Row-Color-BodyI--Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Alternate-Row-Color-BodyI--Body2 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyE--Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Alternate-Row-Color-BodyE--Body2 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyF--Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Alternate-Row-Color-BodyF--Body2 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyH--Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Alternate-Row-Color-BodyH--Body2 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyD--Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Alternate-Row-Color-BodyD--Body2 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyC--Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Alternate-Row-Color-BodyC--Body2 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyB--Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Alternate-Row-Color-BodyB--Body2 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyA--Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Alternate-Row-Color-BodyA--Body2 p
{
	
}

.TableStyle-Alternate-Row-Color-BodyG--Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Alternate-Row-Color-BodyG--Body2 p
{
	
}


